.ng-invalid.ng-touched {
  border: 2px solid red;
}

.ng-valid.ng-touched {
  border: 2px solid green;
}

div {
  margin-bottom: 10px;
}

input,
select {
  padding: 6px;
}

button {
  margin-right: 10px;
}